In [3]:
import pandas as pd
import numpy as np
import re
import os

In [89]:
df = pd.read_csv(r'C:\Users\gabri\Workplace\LabEstat\code\data\data_oferta.csv', encoding='latin1')
df = df.rename(columns={'Unnamed: 1': 'Oferta'})

In [77]:
df['Instituto/Curso'].str.split().str[:][6:20]

6     [Engenharia, de, Bioprocessos, Bacharelado, Ex...
7     [Artes, Visuais, Licenciatura, Extensivo, Vesp...
8     [Cinema, e, Audiovisual, Bacharelado, Extensiv...
9            [Dança, Licenciatura, Extensivo, Matutino]
10       [Museologia, Bacharelado, Extensivo, Matutino]
11        [Música, Licenciatura, Extensivo, Vespertino]
12           [Teatro, Licenciatura, Extensivo, Noturno]
13    [Produção, Cênica, Tecnológico, Extensivo, Not...
14    [Produção, Multimídia, Tecnológico, Extensivo,...
15    [Educação, Física, Licenciatura, Extensivo, Ma...
16        [Pedagogia, Licenciatura, Extensivo, Noturno]
17        [Pedagogia, Licenciatura, Extensivo, Noturno]
18       [Pedagogia, Licenciatura, Extensivo, Matutino]
19       [Pedagogia, Licenciatura, Extensivo, Matutino]
Name: Instituto/Curso, dtype: object

In [82]:
df['Instituto/Curso'][0]

'Desenvolvimento Rural Bacharelado Extensivo Vespertino'

In [90]:
# df['Instituto/Curso'].str.split().str[:]
for index, i in enumerate(df['Instituto/Curso'].str.split().str[:]):
    
    try:
        a=i.index('Bacharelado')
    except ValueError:
        try:
            a=i.index('Licenciatura')
        except ValueError:
            a=i.index('Tecnológico')
    df['Instituto/Curso'][index] = ' '.join(i[:a])

C:\Users\gabri\AppData\Local\Temp\ipykernel_17500\1689405723.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Instituto/Curso'][index] = ' '.join(i[:a])

In [91]:
df

                      Instituto/Curso  Oferta
0               Desenvolvimento Rural      46
1                         Biomedicina      41
2                       Biotecnologia      40
3                 Ciências Biológicas      31
4                 Ciências Biológicas      31
..                                ...     ...
117                  Engenharia Naval      26
118                Engenharia Química      26
119                Engenharia Química      25
120  Engenharia Sanitária e Ambiental      30
121  Engenharia Sanitária e Ambiental      30

[122 rows x 2 columns]

In [99]:
df.groupby('Instituto/Curso')['Oferta'].sum()

Instituto/Curso
                            87
Administração              138
Arquitetura e Urbanismo     62
Arquivologia                40
Artes Visuais               36
                          ...
Serviço Social             123
Sistemas de Informação      40
Teatro                      40
Terapia Ocupacional         33
Turismo                     80
Name: Oferta, Length: 69, dtype: int64

In [102]:
import random
((df.groupby('Instituto/Curso')['Oferta'].sum()// 5) * 5).sort_values(ascending=False)[:10]

Instituto/Curso
Direito               205
Pedagogia             180
Medicina              150
Administração         135
Física                130
Serviço Social        120
Engenharia Civil      120
Ciências Contábeis    120
Ciências Sociais      100
Economia              100
Name: Oferta, dtype: int64